/*body{*/
/*background-color: #000000;*/
/*padding: 0px;*/
/*margin: 0px;*/
/*}*/

#gradient {
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

.nav-color a {
	color: #fff;
	font-size: 1.5em;

}

.box-shadow {
	-webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
}

.text-shadow {
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

/***************************
 *	Variables
 **************************/
/***************************
 *	Project Main Styles
 **************************/
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	background-color: #e2e2e2;
}

/***************************
 *	Application Main Styles
 **************************/
#menu--toggle[type="checkbox"]:not(:checked), #menu--toggle[type="checkbox"]:checked {
	display: none;
}

.menu--toggle__trigger, .menu--toggle__burger, .menu--toggle__burger:before, .menu--toggle__burger:after {
	position: fixed;
	top: 1.6em;
	right: 1.6em;
	width: 2em;
	height: 5px;
	background-color: #282828;
	border-radius: 2px;
	cursor: pointer;
	z-index: 100;
	transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu--toggle__trigger {

	position: fixed;
	height: 2em;
	background: none;
}

.menu--toggle__burger:before {
	content: "";
	top: 10px;
	right: 0;
}

.menu--toggle__burger:after {
	content: "";
	top: 10px;
	right: 0;
}

.menu__body {
	position: fixed;
	width: 7em;
	height: 7em;
	right: 0;
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
	border-bottom-left-radius: 100%;
	box-shadow: 3px 3px 7px rgba(40, 40, 40, .2);
	z-index: 10;
	animation: checkboxUncheckedAnimation 0.35s both;
}

.menu__body-element, .menu__body-link {
	display: none;
	margin: 4.4em 0 -3.3em -0.1em;
	font-weight: normal;
	color: #282828;
	text-decoration: none;
	text-transform: none;
	list-style: none;
	outline: 0;
}

.menu__body-element {
	text-indent: 2em;
}

.menu__body-link:hover {
	display: block;
	width: 0;
	color: #282828;
	background-color: #e2e2e2;
	animation: changeWidthOfElementAnimation 0.35s both;
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
	top: 35px;
	transform: rotate(405deg);
	transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
	top: 0;
	transform: rotate(-90deg);
	transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
	top: 0;
	transform: rotate(90deg);
	transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
	animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
	display: block;
}

/**
 *	Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
	50% {
		width: 100vw;
		height: 100vh;
	}
	100% {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
}

@keyframes checkboxUncheckedAnimation {
	0% {
		width: 100vw;
		height: 100vh;
	}
}

@keyframes changeWidthOfElementAnimation {
	50% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
